.octicon {
  --octicon-size: 16px;
  --octicon-url: none;
  display: inline-block;
  width: var(--octicon-size);
  height: var(--octicon-size);
  vertical-align: text-bottom;
  background-color: currentColor;
  -webkit-mask: var(--octicon-url) no-repeat center / contain;
  mask: var(--octicon-url) no-repeat center / contain;
  overflow: hidden;
  flex: 0 0 auto;
}
.octicon[class*="-12"] { --octicon-size: 12px; }
.octicon[class*="-16"] { --octicon-size: 16px; }
.octicon[class*="-24"] { --octicon-size: 24px; }
.octicon[class*="-32"] { --octicon-size: 32px; }
.octicon[class*="-48"] { --octicon-size: 48px; }
.octicon[class*="-96"] { --octicon-size: 96px; }
.octicon-accessibility-16 { --octicon-url: url('./svg/accessibility-16.svg'); }
.octicon-accessibility-24 { --octicon-url: url('./svg/accessibility-24.svg'); }
.octicon-accessibility-inset-16 { --octicon-url: url('./svg/accessibility-inset-16.svg'); }
.octicon-accessibility-inset-24 { --octicon-url: url('./svg/accessibility-inset-24.svg'); }
.octicon-agent-16 { --octicon-url: url('./svg/agent-16.svg'); }
.octicon-agent-24 { --octicon-url: url('./svg/agent-24.svg'); }
.octicon-ai-model-16 { --octicon-url: url('./svg/ai-model-16.svg'); }
.octicon-ai-model-24 { --octicon-url: url('./svg/ai-model-24.svg'); }
.octicon-alert-16 { --octicon-url: url('./svg/alert-16.svg'); }
.octicon-alert-24 { --octicon-url: url('./svg/alert-24.svg'); }
.octicon-alert-fill-12 { --octicon-url: url('./svg/alert-fill-12.svg'); }
.octicon-alert-fill-16 { --octicon-url: url('./svg/alert-fill-16.svg'); }
.octicon-alert-fill-24 { --octicon-url: url('./svg/alert-fill-24.svg'); }
.octicon-apps-16 { --octicon-url: url('./svg/apps-16.svg'); }
.octicon-apps-24 { --octicon-url: url('./svg/apps-24.svg'); }
.octicon-archive-16 { --octicon-url: url('./svg/archive-16.svg'); }
.octicon-archive-24 { --octicon-url: url('./svg/archive-24.svg'); }
.octicon-arrow-both-16 { --octicon-url: url('./svg/arrow-both-16.svg'); }
.octicon-arrow-both-24 { --octicon-url: url('./svg/arrow-both-24.svg'); }
.octicon-arrow-down-16 { --octicon-url: url('./svg/arrow-down-16.svg'); }
.octicon-arrow-down-24 { --octicon-url: url('./svg/arrow-down-24.svg'); }
.octicon-arrow-down-left-16 { --octicon-url: url('./svg/arrow-down-left-16.svg'); }
.octicon-arrow-down-left-24 { --octicon-url: url('./svg/arrow-down-left-24.svg'); }
.octicon-arrow-down-right-16 { --octicon-url: url('./svg/arrow-down-right-16.svg'); }
.octicon-arrow-down-right-24 { --octicon-url: url('./svg/arrow-down-right-24.svg'); }
.octicon-arrow-left-16 { --octicon-url: url('./svg/arrow-left-16.svg'); }
.octicon-arrow-left-24 { --octicon-url: url('./svg/arrow-left-24.svg'); }
.octicon-arrow-right-16 { --octicon-url: url('./svg/arrow-right-16.svg'); }
.octicon-arrow-right-24 { --octicon-url: url('./svg/arrow-right-24.svg'); }
.octicon-arrow-switch-16 { --octicon-url: url('./svg/arrow-switch-16.svg'); }
.octicon-arrow-switch-24 { --octicon-url: url('./svg/arrow-switch-24.svg'); }
.octicon-arrow-up-16 { --octicon-url: url('./svg/arrow-up-16.svg'); }
.octicon-arrow-up-24 { --octicon-url: url('./svg/arrow-up-24.svg'); }
.octicon-arrow-up-left-16 { --octicon-url: url('./svg/arrow-up-left-16.svg'); }
.octicon-arrow-up-left-24 { --octicon-url: url('./svg/arrow-up-left-24.svg'); }
.octicon-arrow-up-right-16 { --octicon-url: url('./svg/arrow-up-right-16.svg'); }
.octicon-arrow-up-right-24 { --octicon-url: url('./svg/arrow-up-right-24.svg'); }
.octicon-beaker-16 { --octicon-url: url('./svg/beaker-16.svg'); }
.octicon-beaker-24 { --octicon-url: url('./svg/beaker-24.svg'); }
.octicon-bell-16 { --octicon-url: url('./svg/bell-16.svg'); }
.octicon-bell-24 { --octicon-url: url('./svg/bell-24.svg'); }
.octicon-bell-fill-16 { --octicon-url: url('./svg/bell-fill-16.svg'); }
.octicon-bell-fill-24 { --octicon-url: url('./svg/bell-fill-24.svg'); }
.octicon-bell-slash-16 { --octicon-url: url('./svg/bell-slash-16.svg'); }
.octicon-bell-slash-24 { --octicon-url: url('./svg/bell-slash-24.svg'); }
.octicon-blocked-16 { --octicon-url: url('./svg/blocked-16.svg'); }
.octicon-blocked-24 { --octicon-url: url('./svg/blocked-24.svg'); }
.octicon-bold-16 { --octicon-url: url('./svg/bold-16.svg'); }
.octicon-bold-24 { --octicon-url: url('./svg/bold-24.svg'); }
.octicon-book-16 { --octicon-url: url('./svg/book-16.svg'); }
.octicon-book-24 { --octicon-url: url('./svg/book-24.svg'); }
.octicon-book-locked-16 { --octicon-url: url('./svg/book-locked-16.svg'); }
.octicon-bookmark-16 { --octicon-url: url('./svg/bookmark-16.svg'); }
.octicon-bookmark-24 { --octicon-url: url('./svg/bookmark-24.svg'); }
.octicon-bookmark-fill-24 { --octicon-url: url('./svg/bookmark-fill-24.svg'); }
.octicon-bookmark-filled-16 { --octicon-url: url('./svg/bookmark-filled-16.svg'); }
.octicon-bookmark-slash-16 { --octicon-url: url('./svg/bookmark-slash-16.svg'); }
.octicon-bookmark-slash-24 { --octicon-url: url('./svg/bookmark-slash-24.svg'); }
.octicon-bookmark-slash-fill-16 { --octicon-url: url('./svg/bookmark-slash-fill-16.svg'); }
.octicon-bookmark-slash-fill-24 { --octicon-url: url('./svg/bookmark-slash-fill-24.svg'); }
.octicon-boolean-off-16 { --octicon-url: url('./svg/boolean-off-16.svg'); }
.octicon-boolean-off-24 { --octicon-url: url('./svg/boolean-off-24.svg'); }
.octicon-boolean-on-16 { --octicon-url: url('./svg/boolean-on-16.svg'); }
.octicon-boolean-on-24 { --octicon-url: url('./svg/boolean-on-24.svg'); }
.octicon-briefcase-16 { --octicon-url: url('./svg/briefcase-16.svg'); }
.octicon-briefcase-24 { --octicon-url: url('./svg/briefcase-24.svg'); }
.octicon-broadcast-16 { --octicon-url: url('./svg/broadcast-16.svg'); }
.octicon-broadcast-24 { --octicon-url: url('./svg/broadcast-24.svg'); }
.octicon-browser-16 { --octicon-url: url('./svg/browser-16.svg'); }
.octicon-browser-24 { --octicon-url: url('./svg/browser-24.svg'); }
.octicon-bug-16 { --octicon-url: url('./svg/bug-16.svg'); }
.octicon-bug-24 { --octicon-url: url('./svg/bug-24.svg'); }
.octicon-cache-16 { --octicon-url: url('./svg/cache-16.svg'); }
.octicon-cache-24 { --octicon-url: url('./svg/cache-24.svg'); }
.octicon-calendar-16 { --octicon-url: url('./svg/calendar-16.svg'); }
.octicon-calendar-24 { --octicon-url: url('./svg/calendar-24.svg'); }
.octicon-check-16 { --octicon-url: url('./svg/check-16.svg'); }
.octicon-check-24 { --octicon-url: url('./svg/check-24.svg'); }
.octicon-checkbox-16 { --octicon-url: url('./svg/checkbox-16.svg'); }
.octicon-checkbox-24 { --octicon-url: url('./svg/checkbox-24.svg'); }
.octicon-checkbox-fill-16 { --octicon-url: url('./svg/checkbox-fill-16.svg'); }
.octicon-checkbox-fill-24 { --octicon-url: url('./svg/checkbox-fill-24.svg'); }
.octicon-check-circle-16 { --octicon-url: url('./svg/check-circle-16.svg'); }
.octicon-check-circle-24 { --octicon-url: url('./svg/check-circle-24.svg'); }
.octicon-check-circle-fill-12 { --octicon-url: url('./svg/check-circle-fill-12.svg'); }
.octicon-check-circle-fill-16 { --octicon-url: url('./svg/check-circle-fill-16.svg'); }
.octicon-check-circle-fill-24 { --octicon-url: url('./svg/check-circle-fill-24.svg'); }
.octicon-checklist-16 { --octicon-url: url('./svg/checklist-16.svg'); }
.octicon-checklist-24 { --octicon-url: url('./svg/checklist-24.svg'); }
.octicon-chevron-down-12 { --octicon-url: url('./svg/chevron-down-12.svg'); }
.octicon-chevron-down-16 { --octicon-url: url('./svg/chevron-down-16.svg'); }
.octicon-chevron-down-24 { --octicon-url: url('./svg/chevron-down-24.svg'); }
.octicon-chevron-left-12 { --octicon-url: url('./svg/chevron-left-12.svg'); }
.octicon-chevron-left-16 { --octicon-url: url('./svg/chevron-left-16.svg'); }
.octicon-chevron-left-24 { --octicon-url: url('./svg/chevron-left-24.svg'); }
.octicon-chevron-right-12 { --octicon-url: url('./svg/chevron-right-12.svg'); }
.octicon-chevron-right-16 { --octicon-url: url('./svg/chevron-right-16.svg'); }
.octicon-chevron-right-24 { --octicon-url: url('./svg/chevron-right-24.svg'); }
.octicon-chevron-up-12 { --octicon-url: url('./svg/chevron-up-12.svg'); }
.octicon-chevron-up-16 { --octicon-url: url('./svg/chevron-up-16.svg'); }
.octicon-chevron-up-24 { --octicon-url: url('./svg/chevron-up-24.svg'); }
.octicon-circle-16 { --octicon-url: url('./svg/circle-16.svg'); }
.octicon-circle-24 { --octicon-url: url('./svg/circle-24.svg'); }
.octicon-circle-slash-16 { --octicon-url: url('./svg/circle-slash-16.svg'); }
.octicon-circle-slash-24 { --octicon-url: url('./svg/circle-slash-24.svg'); }
.octicon-clock-16 { --octicon-url: url('./svg/clock-16.svg'); }
.octicon-clock-24 { --octicon-url: url('./svg/clock-24.svg'); }
.octicon-clock-fill-16 { --octicon-url: url('./svg/clock-fill-16.svg'); }
.octicon-clock-fill-24 { --octicon-url: url('./svg/clock-fill-24.svg'); }
.octicon-cloud-16 { --octicon-url: url('./svg/cloud-16.svg'); }
.octicon-cloud-24 { --octicon-url: url('./svg/cloud-24.svg'); }
.octicon-cloud-offline-16 { --octicon-url: url('./svg/cloud-offline-16.svg'); }
.octicon-cloud-offline-24 { --octicon-url: url('./svg/cloud-offline-24.svg'); }
.octicon-code-16 { --octicon-url: url('./svg/code-16.svg'); }
.octicon-code-24 { --octicon-url: url('./svg/code-24.svg'); }
.octicon-code-of-conduct-16 { --octicon-url: url('./svg/code-of-conduct-16.svg'); }
.octicon-code-of-conduct-24 { --octicon-url: url('./svg/code-of-conduct-24.svg'); }
.octicon-code-review-16 { --octicon-url: url('./svg/code-review-16.svg'); }
.octicon-code-review-24 { --octicon-url: url('./svg/code-review-24.svg'); }
.octicon-codescan-16 { --octicon-url: url('./svg/codescan-16.svg'); }
.octicon-codescan-24 { --octicon-url: url('./svg/codescan-24.svg'); }
.octicon-codescan-checkmark-16 { --octicon-url: url('./svg/codescan-checkmark-16.svg'); }
.octicon-codescan-checkmark-24 { --octicon-url: url('./svg/codescan-checkmark-24.svg'); }
.octicon-codespaces-16 { --octicon-url: url('./svg/codespaces-16.svg'); }
.octicon-codespaces-24 { --octicon-url: url('./svg/codespaces-24.svg'); }
.octicon-code-square-16 { --octicon-url: url('./svg/code-square-16.svg'); }
.octicon-code-square-24 { --octicon-url: url('./svg/code-square-24.svg'); }
.octicon-columns-16 { --octicon-url: url('./svg/columns-16.svg'); }
.octicon-columns-24 { --octicon-url: url('./svg/columns-24.svg'); }
.octicon-command-palette-16 { --octicon-url: url('./svg/command-palette-16.svg'); }
.octicon-command-palette-24 { --octicon-url: url('./svg/command-palette-24.svg'); }
.octicon-comment-16 { --octicon-url: url('./svg/comment-16.svg'); }
.octicon-comment-24 { --octicon-url: url('./svg/comment-24.svg'); }
.octicon-comment-ai-16 { --octicon-url: url('./svg/comment-ai-16.svg'); }
.octicon-comment-ai-24 { --octicon-url: url('./svg/comment-ai-24.svg'); }
.octicon-comment-discussion-16 { --octicon-url: url('./svg/comment-discussion-16.svg'); }
.octicon-comment-discussion-24 { --octicon-url: url('./svg/comment-discussion-24.svg'); }
.octicon-comment-locked-16 { --octicon-url: url('./svg/comment-locked-16.svg'); }
.octicon-compose-16 { --octicon-url: url('./svg/compose-16.svg'); }
.octicon-compose-24 { --octicon-url: url('./svg/compose-24.svg'); }
.octicon-container-16 { --octicon-url: url('./svg/container-16.svg'); }
.octicon-container-24 { --octicon-url: url('./svg/container-24.svg'); }
.octicon-copilot-16 { --octicon-url: url('./svg/copilot-16.svg'); }
.octicon-copilot-24 { --octicon-url: url('./svg/copilot-24.svg'); }
.octicon-copilot-48 { --octicon-url: url('./svg/copilot-48.svg'); }
.octicon-copilot-96 { --octicon-url: url('./svg/copilot-96.svg'); }
.octicon-copilot-error-16 { --octicon-url: url('./svg/copilot-error-16.svg'); }
.octicon-copilot-warning-16 { --octicon-url: url('./svg/copilot-warning-16.svg'); }
.octicon-copy-16 { --octicon-url: url('./svg/copy-16.svg'); }
.octicon-copy-24 { --octicon-url: url('./svg/copy-24.svg'); }
.octicon-cpu-16 { --octicon-url: url('./svg/cpu-16.svg'); }
.octicon-cpu-24 { --octicon-url: url('./svg/cpu-24.svg'); }
.octicon-credit-card-16 { --octicon-url: url('./svg/credit-card-16.svg'); }
.octicon-credit-card-24 { --octicon-url: url('./svg/credit-card-24.svg'); }
.octicon-crosshairs-16 { --octicon-url: url('./svg/crosshairs-16.svg'); }
.octicon-crosshairs-24 { --octicon-url: url('./svg/crosshairs-24.svg'); }
.octicon-cross-reference-16 { --octicon-url: url('./svg/cross-reference-16.svg'); }
.octicon-cross-reference-24 { --octicon-url: url('./svg/cross-reference-24.svg'); }
.octicon-dash-16 { --octicon-url: url('./svg/dash-16.svg'); }
.octicon-dash-24 { --octicon-url: url('./svg/dash-24.svg'); }
.octicon-database-16 { --octicon-url: url('./svg/database-16.svg'); }
.octicon-database-24 { --octicon-url: url('./svg/database-24.svg'); }
.octicon-dependabot-16 { --octicon-url: url('./svg/dependabot-16.svg'); }
.octicon-dependabot-24 { --octicon-url: url('./svg/dependabot-24.svg'); }
.octicon-desktop-download-16 { --octicon-url: url('./svg/desktop-download-16.svg'); }
.octicon-desktop-download-24 { --octicon-url: url('./svg/desktop-download-24.svg'); }
.octicon-device-camera-16 { --octicon-url: url('./svg/device-camera-16.svg'); }
.octicon-device-camera-24 { --octicon-url: url('./svg/device-camera-24.svg'); }
.octicon-device-camera-video-16 { --octicon-url: url('./svg/device-camera-video-16.svg'); }
.octicon-device-camera-video-24 { --octicon-url: url('./svg/device-camera-video-24.svg'); }
.octicon-device-desktop-16 { --octicon-url: url('./svg/device-desktop-16.svg'); }
.octicon-device-desktop-24 { --octicon-url: url('./svg/device-desktop-24.svg'); }
.octicon-device-mobile-16 { --octicon-url: url('./svg/device-mobile-16.svg'); }
.octicon-device-mobile-24 { --octicon-url: url('./svg/device-mobile-24.svg'); }
.octicon-devices-16 { --octicon-url: url('./svg/devices-16.svg'); }
.octicon-devices-24 { --octicon-url: url('./svg/devices-24.svg'); }
.octicon-diamond-16 { --octicon-url: url('./svg/diamond-16.svg'); }
.octicon-diamond-24 { --octicon-url: url('./svg/diamond-24.svg'); }
.octicon-dice-16 { --octicon-url: url('./svg/dice-16.svg'); }
.octicon-dice-24 { --octicon-url: url('./svg/dice-24.svg'); }
.octicon-diff-16 { --octicon-url: url('./svg/diff-16.svg'); }
.octicon-diff-24 { --octicon-url: url('./svg/diff-24.svg'); }
.octicon-diff-added-16 { --octicon-url: url('./svg/diff-added-16.svg'); }
.octicon-diff-added-24 { --octicon-url: url('./svg/diff-added-24.svg'); }
.octicon-diff-ignored-16 { --octicon-url: url('./svg/diff-ignored-16.svg'); }
.octicon-diff-ignored-24 { --octicon-url: url('./svg/diff-ignored-24.svg'); }
.octicon-diff-modified-16 { --octicon-url: url('./svg/diff-modified-16.svg'); }
.octicon-diff-modified-24 { --octicon-url: url('./svg/diff-modified-24.svg'); }
.octicon-diff-removed-16 { --octicon-url: url('./svg/diff-removed-16.svg'); }
.octicon-diff-removed-24 { --octicon-url: url('./svg/diff-removed-24.svg'); }
.octicon-diff-renamed-16 { --octicon-url: url('./svg/diff-renamed-16.svg'); }
.octicon-diff-renamed-24 { --octicon-url: url('./svg/diff-renamed-24.svg'); }
.octicon-discussion-closed-16 { --octicon-url: url('./svg/discussion-closed-16.svg'); }
.octicon-discussion-closed-24 { --octicon-url: url('./svg/discussion-closed-24.svg'); }
.octicon-discussion-duplicate-16 { --octicon-url: url('./svg/discussion-duplicate-16.svg'); }
.octicon-discussion-duplicate-24 { --octicon-url: url('./svg/discussion-duplicate-24.svg'); }
.octicon-discussion-outdated-16 { --octicon-url: url('./svg/discussion-outdated-16.svg'); }
.octicon-discussion-outdated-24 { --octicon-url: url('./svg/discussion-outdated-24.svg'); }
.octicon-dot-16 { --octicon-url: url('./svg/dot-16.svg'); }
.octicon-dot-24 { --octicon-url: url('./svg/dot-24.svg'); }
.octicon-dot-fill-16 { --octicon-url: url('./svg/dot-fill-16.svg'); }
.octicon-dot-fill-24 { --octicon-url: url('./svg/dot-fill-24.svg'); }
.octicon-download-16 { --octicon-url: url('./svg/download-16.svg'); }
.octicon-download-24 { --octicon-url: url('./svg/download-24.svg'); }
.octicon-duplicate-16 { --octicon-url: url('./svg/duplicate-16.svg'); }
.octicon-duplicate-24 { --octicon-url: url('./svg/duplicate-24.svg'); }
.octicon-ellipsis-16 { --octicon-url: url('./svg/ellipsis-16.svg'); }
.octicon-ellipsis-24 { --octicon-url: url('./svg/ellipsis-24.svg'); }
.octicon-exclamation-16 { --octicon-url: url('./svg/exclamation-16.svg'); }
.octicon-exclamation-24 { --octicon-url: url('./svg/exclamation-24.svg'); }
.octicon-eye-16 { --octicon-url: url('./svg/eye-16.svg'); }
.octicon-eye-24 { --octicon-url: url('./svg/eye-24.svg'); }
.octicon-eye-closed-16 { --octicon-url: url('./svg/eye-closed-16.svg'); }
.octicon-eye-closed-24 { --octicon-url: url('./svg/eye-closed-24.svg'); }
.octicon-feed-discussion-16 { --octicon-url: url('./svg/feed-discussion-16.svg'); }
.octicon-feed-forked-16 { --octicon-url: url('./svg/feed-forked-16.svg'); }
.octicon-feed-heart-16 { --octicon-url: url('./svg/feed-heart-16.svg'); }
.octicon-feed-issue-closed-16 { --octicon-url: url('./svg/feed-issue-closed-16.svg'); }
.octicon-feed-issue-draft-16 { --octicon-url: url('./svg/feed-issue-draft-16.svg'); }
.octicon-feed-issue-open-16 { --octicon-url: url('./svg/feed-issue-open-16.svg'); }
.octicon-feed-issue-reopen-16 { --octicon-url: url('./svg/feed-issue-reopen-16.svg'); }
.octicon-feed-merged-16 { --octicon-url: url('./svg/feed-merged-16.svg'); }
.octicon-feed-person-16 { --octicon-url: url('./svg/feed-person-16.svg'); }
.octicon-feed-plus-16 { --octicon-url: url('./svg/feed-plus-16.svg'); }
.octicon-feed-public-16 { --octicon-url: url('./svg/feed-public-16.svg'); }
.octicon-feed-pull-request-closed-16 { --octicon-url: url('./svg/feed-pull-request-closed-16.svg'); }
.octicon-feed-pull-request-draft-16 { --octicon-url: url('./svg/feed-pull-request-draft-16.svg'); }
.octicon-feed-pull-request-open-16 { --octicon-url: url('./svg/feed-pull-request-open-16.svg'); }
.octicon-feed-repo-16 { --octicon-url: url('./svg/feed-repo-16.svg'); }
.octicon-feed-rocket-16 { --octicon-url: url('./svg/feed-rocket-16.svg'); }
.octicon-feed-star-16 { --octicon-url: url('./svg/feed-star-16.svg'); }
.octicon-feed-tag-16 { --octicon-url: url('./svg/feed-tag-16.svg'); }
.octicon-feed-trophy-16 { --octicon-url: url('./svg/feed-trophy-16.svg'); }
.octicon-file-16 { --octicon-url: url('./svg/file-16.svg'); }
.octicon-file-24 { --octicon-url: url('./svg/file-24.svg'); }
.octicon-file-added-16 { --octicon-url: url('./svg/file-added-16.svg'); }
.octicon-file-added-24 { --octicon-url: url('./svg/file-added-24.svg'); }
.octicon-file-badge-16 { --octicon-url: url('./svg/file-badge-16.svg'); }
.octicon-file-badge-24 { --octicon-url: url('./svg/file-badge-24.svg'); }
.octicon-file-binary-16 { --octicon-url: url('./svg/file-binary-16.svg'); }
.octicon-file-binary-24 { --octicon-url: url('./svg/file-binary-24.svg'); }
.octicon-file-check-16 { --octicon-url: url('./svg/file-check-16.svg'); }
.octicon-file-check-24 { --octicon-url: url('./svg/file-check-24.svg'); }
.octicon-file-code-16 { --octicon-url: url('./svg/file-code-16.svg'); }
.octicon-file-code-24 { --octicon-url: url('./svg/file-code-24.svg'); }
.octicon-file-diff-16 { --octicon-url: url('./svg/file-diff-16.svg'); }
.octicon-file-diff-24 { --octicon-url: url('./svg/file-diff-24.svg'); }
.octicon-file-directory-16 { --octicon-url: url('./svg/file-directory-16.svg'); }
.octicon-file-directory-24 { --octicon-url: url('./svg/file-directory-24.svg'); }
.octicon-file-directory-fill-16 { --octicon-url: url('./svg/file-directory-fill-16.svg'); }
.octicon-file-directory-fill-24 { --octicon-url: url('./svg/file-directory-fill-24.svg'); }
.octicon-file-directory-open-fill-16 { --octicon-url: url('./svg/file-directory-open-fill-16.svg'); }
.octicon-file-directory-open-fill-24 { --octicon-url: url('./svg/file-directory-open-fill-24.svg'); }
.octicon-file-directory-symlink-16 { --octicon-url: url('./svg/file-directory-symlink-16.svg'); }
.octicon-file-directory-symlink-24 { --octicon-url: url('./svg/file-directory-symlink-24.svg'); }
.octicon-file-media-16 { --octicon-url: url('./svg/file-media-16.svg'); }
.octicon-file-media-24 { --octicon-url: url('./svg/file-media-24.svg'); }
.octicon-file-moved-16 { --octicon-url: url('./svg/file-moved-16.svg'); }
.octicon-file-moved-24 { --octicon-url: url('./svg/file-moved-24.svg'); }
.octicon-file-removed-16 { --octicon-url: url('./svg/file-removed-16.svg'); }
.octicon-file-removed-24 { --octicon-url: url('./svg/file-removed-24.svg'); }
.octicon-file-submodule-16 { --octicon-url: url('./svg/file-submodule-16.svg'); }
.octicon-file-submodule-24 { --octicon-url: url('./svg/file-submodule-24.svg'); }
.octicon-file-symlink-file-16 { --octicon-url: url('./svg/file-symlink-file-16.svg'); }
.octicon-file-symlink-file-24 { --octicon-url: url('./svg/file-symlink-file-24.svg'); }
.octicon-file-zip-16 { --octicon-url: url('./svg/file-zip-16.svg'); }
.octicon-file-zip-24 { --octicon-url: url('./svg/file-zip-24.svg'); }
.octicon-filter-16 { --octicon-url: url('./svg/filter-16.svg'); }
.octicon-filter-24 { --octicon-url: url('./svg/filter-24.svg'); }
.octicon-filter-remove-16 { --octicon-url: url('./svg/filter-remove-16.svg'); }
.octicon-filter-remove-24 { --octicon-url: url('./svg/filter-remove-24.svg'); }
.octicon-fiscal-host-16 { --octicon-url: url('./svg/fiscal-host-16.svg'); }
.octicon-fiscal-host-24 { --octicon-url: url('./svg/fiscal-host-24.svg'); }
.octicon-flame-16 { --octicon-url: url('./svg/flame-16.svg'); }
.octicon-flame-24 { --octicon-url: url('./svg/flame-24.svg'); }
.octicon-flowchart-16 { --octicon-url: url('./svg/flowchart-16.svg'); }
.octicon-flowchart-24 { --octicon-url: url('./svg/flowchart-24.svg'); }
.octicon-focus-center-16 { --octicon-url: url('./svg/focus-center-16.svg'); }
.octicon-focus-center-24 { --octicon-url: url('./svg/focus-center-24.svg'); }
.octicon-fold-16 { --octicon-url: url('./svg/fold-16.svg'); }
.octicon-fold-24 { --octicon-url: url('./svg/fold-24.svg'); }
.octicon-fold-down-16 { --octicon-url: url('./svg/fold-down-16.svg'); }
.octicon-fold-down-24 { --octicon-url: url('./svg/fold-down-24.svg'); }
.octicon-fold-up-16 { --octicon-url: url('./svg/fold-up-16.svg'); }
.octicon-fold-up-24 { --octicon-url: url('./svg/fold-up-24.svg'); }
.octicon-gear-16 { --octicon-url: url('./svg/gear-16.svg'); }
.octicon-gear-24 { --octicon-url: url('./svg/gear-24.svg'); }
.octicon-gift-16 { --octicon-url: url('./svg/gift-16.svg'); }
.octicon-gift-24 { --octicon-url: url('./svg/gift-24.svg'); }
.octicon-git-branch-16 { --octicon-url: url('./svg/git-branch-16.svg'); }
.octicon-git-branch-24 { --octicon-url: url('./svg/git-branch-24.svg'); }
.octicon-git-branch-check-16 { --octicon-url: url('./svg/git-branch-check-16.svg'); }
.octicon-git-branch-check-24 { --octicon-url: url('./svg/git-branch-check-24.svg'); }
.octicon-git-commit-16 { --octicon-url: url('./svg/git-commit-16.svg'); }
.octicon-git-commit-24 { --octicon-url: url('./svg/git-commit-24.svg'); }
.octicon-git-compare-16 { --octicon-url: url('./svg/git-compare-16.svg'); }
.octicon-git-compare-24 { --octicon-url: url('./svg/git-compare-24.svg'); }
.octicon-git-merge-16 { --octicon-url: url('./svg/git-merge-16.svg'); }
.octicon-git-merge-24 { --octicon-url: url('./svg/git-merge-24.svg'); }
.octicon-git-merge-queue-16 { --octicon-url: url('./svg/git-merge-queue-16.svg'); }
.octicon-git-merge-queue-24 { --octicon-url: url('./svg/git-merge-queue-24.svg'); }
.octicon-git-pull-request-16 { --octicon-url: url('./svg/git-pull-request-16.svg'); }
.octicon-git-pull-request-24 { --octicon-url: url('./svg/git-pull-request-24.svg'); }
.octicon-git-pull-request-closed-16 { --octicon-url: url('./svg/git-pull-request-closed-16.svg'); }
.octicon-git-pull-request-closed-24 { --octicon-url: url('./svg/git-pull-request-closed-24.svg'); }
.octicon-git-pull-request-draft-16 { --octicon-url: url('./svg/git-pull-request-draft-16.svg'); }
.octicon-git-pull-request-draft-24 { --octicon-url: url('./svg/git-pull-request-draft-24.svg'); }
.octicon-git-pull-request-locked-16 { --octicon-url: url('./svg/git-pull-request-locked-16.svg'); }
.octicon-globe-16 { --octicon-url: url('./svg/globe-16.svg'); }
.octicon-globe-24 { --octicon-url: url('./svg/globe-24.svg'); }
.octicon-goal-16 { --octicon-url: url('./svg/goal-16.svg'); }
.octicon-goal-24 { --octicon-url: url('./svg/goal-24.svg'); }
.octicon-grabber-16 { --octicon-url: url('./svg/grabber-16.svg'); }
.octicon-grabber-24 { --octicon-url: url('./svg/grabber-24.svg'); }
.octicon-graph-16 { --octicon-url: url('./svg/graph-16.svg'); }
.octicon-graph-24 { --octicon-url: url('./svg/graph-24.svg'); }
.octicon-graph-bar-horizontal-16 { --octicon-url: url('./svg/graph-bar-horizontal-16.svg'); }
.octicon-graph-bar-horizontal-24 { --octicon-url: url('./svg/graph-bar-horizontal-24.svg'); }
.octicon-graph-bar-vertical-16 { --octicon-url: url('./svg/graph-bar-vertical-16.svg'); }
.octicon-graph-bar-vertical-24 { --octicon-url: url('./svg/graph-bar-vertical-24.svg'); }
.octicon-hash-16 { --octicon-url: url('./svg/hash-16.svg'); }
.octicon-hash-24 { --octicon-url: url('./svg/hash-24.svg'); }
.octicon-heading-16 { --octicon-url: url('./svg/heading-16.svg'); }
.octicon-heading-24 { --octicon-url: url('./svg/heading-24.svg'); }
.octicon-heart-16 { --octicon-url: url('./svg/heart-16.svg'); }
.octicon-heart-24 { --octicon-url: url('./svg/heart-24.svg'); }
.octicon-heart-fill-16 { --octicon-url: url('./svg/heart-fill-16.svg'); }
.octicon-heart-fill-24 { --octicon-url: url('./svg/heart-fill-24.svg'); }
.octicon-history-16 { --octicon-url: url('./svg/history-16.svg'); }
.octicon-history-24 { --octicon-url: url('./svg/history-24.svg'); }
.octicon-home-16 { --octicon-url: url('./svg/home-16.svg'); }
.octicon-home-24 { --octicon-url: url('./svg/home-24.svg'); }
.octicon-home-fill-16 { --octicon-url: url('./svg/home-fill-16.svg'); }
.octicon-home-fill-24 { --octicon-url: url('./svg/home-fill-24.svg'); }
.octicon-horizontal-rule-16 { --octicon-url: url('./svg/horizontal-rule-16.svg'); }
.octicon-horizontal-rule-24 { --octicon-url: url('./svg/horizontal-rule-24.svg'); }
.octicon-hourglass-16 { --octicon-url: url('./svg/hourglass-16.svg'); }
.octicon-hourglass-24 { --octicon-url: url('./svg/hourglass-24.svg'); }
.octicon-hubot-16 { --octicon-url: url('./svg/hubot-16.svg'); }
.octicon-hubot-24 { --octicon-url: url('./svg/hubot-24.svg'); }
.octicon-id-badge-16 { --octicon-url: url('./svg/id-badge-16.svg'); }
.octicon-id-badge-24 { --octicon-url: url('./svg/id-badge-24.svg'); }
.octicon-image-16 { --octicon-url: url('./svg/image-16.svg'); }
.octicon-image-24 { --octicon-url: url('./svg/image-24.svg'); }
.octicon-inbox-16 { --octicon-url: url('./svg/inbox-16.svg'); }
.octicon-inbox-24 { --octicon-url: url('./svg/inbox-24.svg'); }
.octicon-inbox-fill-16 { --octicon-url: url('./svg/inbox-fill-16.svg'); }
.octicon-inbox-fill-24 { --octicon-url: url('./svg/inbox-fill-24.svg'); }
.octicon-infinity-16 { --octicon-url: url('./svg/infinity-16.svg'); }
.octicon-infinity-24 { --octicon-url: url('./svg/infinity-24.svg'); }
.octicon-info-16 { --octicon-url: url('./svg/info-16.svg'); }
.octicon-info-24 { --octicon-url: url('./svg/info-24.svg'); }
.octicon-issue-closed-16 { --octicon-url: url('./svg/issue-closed-16.svg'); }
.octicon-issue-closed-24 { --octicon-url: url('./svg/issue-closed-24.svg'); }
.octicon-issue-draft-16 { --octicon-url: url('./svg/issue-draft-16.svg'); }
.octicon-issue-draft-24 { --octicon-url: url('./svg/issue-draft-24.svg'); }
.octicon-issue-locked-16 { --octicon-url: url('./svg/issue-locked-16.svg'); }
.octicon-issue-opened-16 { --octicon-url: url('./svg/issue-opened-16.svg'); }
.octicon-issue-opened-24 { --octicon-url: url('./svg/issue-opened-24.svg'); }
.octicon-issue-reopened-16 { --octicon-url: url('./svg/issue-reopened-16.svg'); }
.octicon-issue-reopened-24 { --octicon-url: url('./svg/issue-reopened-24.svg'); }
.octicon-issue-tracked-by-16 { --octicon-url: url('./svg/issue-tracked-by-16.svg'); }
.octicon-issue-tracked-by-24 { --octicon-url: url('./svg/issue-tracked-by-24.svg'); }
.octicon-issue-tracks-16 { --octicon-url: url('./svg/issue-tracks-16.svg'); }
.octicon-issue-tracks-24 { --octicon-url: url('./svg/issue-tracks-24.svg'); }
.octicon-italic-16 { --octicon-url: url('./svg/italic-16.svg'); }
.octicon-italic-24 { --octicon-url: url('./svg/italic-24.svg'); }
.octicon-iterations-16 { --octicon-url: url('./svg/iterations-16.svg'); }
.octicon-iterations-24 { --octicon-url: url('./svg/iterations-24.svg'); }
.octicon-kebab-horizontal-16 { --octicon-url: url('./svg/kebab-horizontal-16.svg'); }
.octicon-kebab-horizontal-24 { --octicon-url: url('./svg/kebab-horizontal-24.svg'); }
.octicon-kebab-vertical-16 { --octicon-url: url('./svg/kebab-vertical-16.svg'); }
.octicon-key-16 { --octicon-url: url('./svg/key-16.svg'); }
.octicon-key-24 { --octicon-url: url('./svg/key-24.svg'); }
.octicon-key-asterisk-16 { --octicon-url: url('./svg/key-asterisk-16.svg'); }
.octicon-key-asterisk-24 { --octicon-url: url('./svg/key-asterisk-24.svg'); }
.octicon-law-16 { --octicon-url: url('./svg/law-16.svg'); }
.octicon-law-24 { --octicon-url: url('./svg/law-24.svg'); }
.octicon-light-bulb-16 { --octicon-url: url('./svg/light-bulb-16.svg'); }
.octicon-light-bulb-24 { --octicon-url: url('./svg/light-bulb-24.svg'); }
.octicon-link-16 { --octicon-url: url('./svg/link-16.svg'); }
.octicon-link-24 { --octicon-url: url('./svg/link-24.svg'); }
.octicon-link-external-16 { --octicon-url: url('./svg/link-external-16.svg'); }
.octicon-link-external-24 { --octicon-url: url('./svg/link-external-24.svg'); }
.octicon-list-ordered-16 { --octicon-url: url('./svg/list-ordered-16.svg'); }
.octicon-list-ordered-24 { --octicon-url: url('./svg/list-ordered-24.svg'); }
.octicon-list-unordered-16 { --octicon-url: url('./svg/list-unordered-16.svg'); }
.octicon-list-unordered-24 { --octicon-url: url('./svg/list-unordered-24.svg'); }
.octicon-location-16 { --octicon-url: url('./svg/location-16.svg'); }
.octicon-location-24 { --octicon-url: url('./svg/location-24.svg'); }
.octicon-lock-16 { --octicon-url: url('./svg/lock-16.svg'); }
.octicon-lock-24 { --octicon-url: url('./svg/lock-24.svg'); }
.octicon-lockup-github-16 { --octicon-url: url('./svg/lockup-github-16.svg'); }
.octicon-lockup-github-24 { --octicon-url: url('./svg/lockup-github-24.svg'); }
.octicon-log-16 { --octicon-url: url('./svg/log-16.svg'); }
.octicon-log-24 { --octicon-url: url('./svg/log-24.svg'); }
.octicon-logo-gist-16 { --octicon-url: url('./svg/logo-gist-16.svg'); }
.octicon-logo-gist-24 { --octicon-url: url('./svg/logo-gist-24.svg'); }
.octicon-logo-github-16 { --octicon-url: url('./svg/logo-github-16.svg'); }
.octicon-logo-github-24 { --octicon-url: url('./svg/logo-github-24.svg'); }
.octicon-loop-16 { --octicon-url: url('./svg/loop-16.svg'); }
.octicon-loop-24 { --octicon-url: url('./svg/loop-24.svg'); }
.octicon-mail-16 { --octicon-url: url('./svg/mail-16.svg'); }
.octicon-mail-24 { --octicon-url: url('./svg/mail-24.svg'); }
.octicon-markdown-16 { --octicon-url: url('./svg/markdown-16.svg'); }
.octicon-markdown-24 { --octicon-url: url('./svg/markdown-24.svg'); }
.octicon-mark-github-16 { --octicon-url: url('./svg/mark-github-16.svg'); }
.octicon-mark-github-24 { --octicon-url: url('./svg/mark-github-24.svg'); }
.octicon-maximize-16 { --octicon-url: url('./svg/maximize-16.svg'); }
.octicon-maximize-24 { --octicon-url: url('./svg/maximize-24.svg'); }
.octicon-mcp-16 { --octicon-url: url('./svg/mcp-16.svg'); }
.octicon-mcp-24 { --octicon-url: url('./svg/mcp-24.svg'); }
.octicon-megaphone-16 { --octicon-url: url('./svg/megaphone-16.svg'); }
.octicon-megaphone-24 { --octicon-url: url('./svg/megaphone-24.svg'); }
.octicon-mention-16 { --octicon-url: url('./svg/mention-16.svg'); }
.octicon-mention-24 { --octicon-url: url('./svg/mention-24.svg'); }
.octicon-meter-16 { --octicon-url: url('./svg/meter-16.svg'); }
.octicon-meter-24 { --octicon-url: url('./svg/meter-24.svg'); }
.octicon-milestone-16 { --octicon-url: url('./svg/milestone-16.svg'); }
.octicon-milestone-24 { --octicon-url: url('./svg/milestone-24.svg'); }
.octicon-minimize-16 { --octicon-url: url('./svg/minimize-16.svg'); }
.octicon-minimize-24 { --octicon-url: url('./svg/minimize-24.svg'); }
.octicon-mirror-16 { --octicon-url: url('./svg/mirror-16.svg'); }
.octicon-mirror-24 { --octicon-url: url('./svg/mirror-24.svg'); }
.octicon-moon-16 { --octicon-url: url('./svg/moon-16.svg'); }
.octicon-moon-24 { --octicon-url: url('./svg/moon-24.svg'); }
.octicon-mortar-board-16 { --octicon-url: url('./svg/mortar-board-16.svg'); }
.octicon-mortar-board-24 { --octicon-url: url('./svg/mortar-board-24.svg'); }
.octicon-move-to-bottom-16 { --octicon-url: url('./svg/move-to-bottom-16.svg'); }
.octicon-move-to-bottom-24 { --octicon-url: url('./svg/move-to-bottom-24.svg'); }
.octicon-move-to-end-16 { --octicon-url: url('./svg/move-to-end-16.svg'); }
.octicon-move-to-end-24 { --octicon-url: url('./svg/move-to-end-24.svg'); }
.octicon-move-to-start-16 { --octicon-url: url('./svg/move-to-start-16.svg'); }
.octicon-move-to-start-24 { --octicon-url: url('./svg/move-to-start-24.svg'); }
.octicon-move-to-top-16 { --octicon-url: url('./svg/move-to-top-16.svg'); }
.octicon-move-to-top-24 { --octicon-url: url('./svg/move-to-top-24.svg'); }
.octicon-multi-select-16 { --octicon-url: url('./svg/multi-select-16.svg'); }
.octicon-multi-select-24 { --octicon-url: url('./svg/multi-select-24.svg'); }
.octicon-mute-16 { --octicon-url: url('./svg/mute-16.svg'); }
.octicon-mute-24 { --octicon-url: url('./svg/mute-24.svg'); }
.octicon-node-16 { --octicon-url: url('./svg/node-16.svg'); }
.octicon-node-24 { --octicon-url: url('./svg/node-24.svg'); }
.octicon-no-entry-16 { --octicon-url: url('./svg/no-entry-16.svg'); }
.octicon-no-entry-24 { --octicon-url: url('./svg/no-entry-24.svg'); }
.octicon-no-entry-fill-12 { --octicon-url: url('./svg/no-entry-fill-12.svg'); }
.octicon-north-star-16 { --octicon-url: url('./svg/north-star-16.svg'); }
.octicon-north-star-24 { --octicon-url: url('./svg/north-star-24.svg'); }
.octicon-note-16 { --octicon-url: url('./svg/note-16.svg'); }
.octicon-note-24 { --octicon-url: url('./svg/note-24.svg'); }
.octicon-number-16 { --octicon-url: url('./svg/number-16.svg'); }
.octicon-number-24 { --octicon-url: url('./svg/number-24.svg'); }
.octicon-organization-16 { --octicon-url: url('./svg/organization-16.svg'); }
.octicon-organization-24 { --octicon-url: url('./svg/organization-24.svg'); }
.octicon-package-16 { --octicon-url: url('./svg/package-16.svg'); }
.octicon-package-24 { --octicon-url: url('./svg/package-24.svg'); }
.octicon-package-dependencies-16 { --octicon-url: url('./svg/package-dependencies-16.svg'); }
.octicon-package-dependencies-24 { --octicon-url: url('./svg/package-dependencies-24.svg'); }
.octicon-package-dependents-16 { --octicon-url: url('./svg/package-dependents-16.svg'); }
.octicon-package-dependents-24 { --octicon-url: url('./svg/package-dependents-24.svg'); }
.octicon-paintbrush-16 { --octicon-url: url('./svg/paintbrush-16.svg'); }
.octicon-paintbrush-24 { --octicon-url: url('./svg/paintbrush-24.svg'); }
.octicon-paper-airplane-16 { --octicon-url: url('./svg/paper-airplane-16.svg'); }
.octicon-paper-airplane-24 { --octicon-url: url('./svg/paper-airplane-24.svg'); }
.octicon-paperclip-16 { --octicon-url: url('./svg/paperclip-16.svg'); }
.octicon-paperclip-24 { --octicon-url: url('./svg/paperclip-24.svg'); }
.octicon-passkey-fill-16 { --octicon-url: url('./svg/passkey-fill-16.svg'); }
.octicon-passkey-fill-24 { --octicon-url: url('./svg/passkey-fill-24.svg'); }
.octicon-paste-16 { --octicon-url: url('./svg/paste-16.svg'); }
.octicon-paste-24 { --octicon-url: url('./svg/paste-24.svg'); }
.octicon-pause-16 { --octicon-url: url('./svg/pause-16.svg'); }
.octicon-pause-24 { --octicon-url: url('./svg/pause-24.svg'); }
.octicon-pencil-16 { --octicon-url: url('./svg/pencil-16.svg'); }
.octicon-pencil-24 { --octicon-url: url('./svg/pencil-24.svg'); }
.octicon-pencil-ai-16 { --octicon-url: url('./svg/pencil-ai-16.svg'); }
.octicon-pencil-ai-24 { --octicon-url: url('./svg/pencil-ai-24.svg'); }
.octicon-people-16 { --octicon-url: url('./svg/people-16.svg'); }
.octicon-people-24 { --octicon-url: url('./svg/people-24.svg'); }
.octicon-person-16 { --octicon-url: url('./svg/person-16.svg'); }
.octicon-person-24 { --octicon-url: url('./svg/person-24.svg'); }
.octicon-person-add-16 { --octicon-url: url('./svg/person-add-16.svg'); }
.octicon-person-add-24 { --octicon-url: url('./svg/person-add-24.svg'); }
.octicon-person-fill-16 { --octicon-url: url('./svg/person-fill-16.svg'); }
.octicon-person-fill-24 { --octicon-url: url('./svg/person-fill-24.svg'); }
.octicon-pin-16 { --octicon-url: url('./svg/pin-16.svg'); }
.octicon-pin-24 { --octicon-url: url('./svg/pin-24.svg'); }
.octicon-pin-slash-16 { --octicon-url: url('./svg/pin-slash-16.svg'); }
.octicon-pin-slash-24 { --octicon-url: url('./svg/pin-slash-24.svg'); }
.octicon-pivot-column-16 { --octicon-url: url('./svg/pivot-column-16.svg'); }
.octicon-pivot-column-24 { --octicon-url: url('./svg/pivot-column-24.svg'); }
.octicon-play-16 { --octicon-url: url('./svg/play-16.svg'); }
.octicon-play-24 { --octicon-url: url('./svg/play-24.svg'); }
.octicon-plug-16 { --octicon-url: url('./svg/plug-16.svg'); }
.octicon-plug-24 { --octicon-url: url('./svg/plug-24.svg'); }
.octicon-plus-16 { --octicon-url: url('./svg/plus-16.svg'); }
.octicon-plus-24 { --octicon-url: url('./svg/plus-24.svg'); }
.octicon-plus-circle-16 { --octicon-url: url('./svg/plus-circle-16.svg'); }
.octicon-plus-circle-24 { --octicon-url: url('./svg/plus-circle-24.svg'); }
.octicon-project-16 { --octicon-url: url('./svg/project-16.svg'); }
.octicon-project-24 { --octicon-url: url('./svg/project-24.svg'); }
.octicon-project-roadmap-16 { --octicon-url: url('./svg/project-roadmap-16.svg'); }
.octicon-project-roadmap-24 { --octicon-url: url('./svg/project-roadmap-24.svg'); }
.octicon-project-symlink-16 { --octicon-url: url('./svg/project-symlink-16.svg'); }
.octicon-project-symlink-24 { --octicon-url: url('./svg/project-symlink-24.svg'); }
.octicon-project-template-16 { --octicon-url: url('./svg/project-template-16.svg'); }
.octicon-project-template-24 { --octicon-url: url('./svg/project-template-24.svg'); }
.octicon-pulse-16 { --octicon-url: url('./svg/pulse-16.svg'); }
.octicon-pulse-24 { --octicon-url: url('./svg/pulse-24.svg'); }
.octicon-question-16 { --octicon-url: url('./svg/question-16.svg'); }
.octicon-question-24 { --octicon-url: url('./svg/question-24.svg'); }
.octicon-quote-16 { --octicon-url: url('./svg/quote-16.svg'); }
.octicon-quote-24 { --octicon-url: url('./svg/quote-24.svg'); }
.octicon-read-16 { --octicon-url: url('./svg/read-16.svg'); }
.octicon-read-24 { --octicon-url: url('./svg/read-24.svg'); }
.octicon-redo-16 { --octicon-url: url('./svg/redo-16.svg'); }
.octicon-redo-24 { --octicon-url: url('./svg/redo-24.svg'); }
.octicon-rel-file-path-16 { --octicon-url: url('./svg/rel-file-path-16.svg'); }
.octicon-rel-file-path-24 { --octicon-url: url('./svg/rel-file-path-24.svg'); }
.octicon-reply-16 { --octicon-url: url('./svg/reply-16.svg'); }
.octicon-reply-24 { --octicon-url: url('./svg/reply-24.svg'); }
.octicon-repo-16 { --octicon-url: url('./svg/repo-16.svg'); }
.octicon-repo-24 { --octicon-url: url('./svg/repo-24.svg'); }
.octicon-repo-clone-16 { --octicon-url: url('./svg/repo-clone-16.svg'); }
.octicon-repo-clone-24 { --octicon-url: url('./svg/repo-clone-24.svg'); }
.octicon-repo-delete-24 { --octicon-url: url('./svg/repo-delete-24.svg'); }
.octicon-repo-deleted-16 { --octicon-url: url('./svg/repo-deleted-16.svg'); }
.octicon-repo-forked-16 { --octicon-url: url('./svg/repo-forked-16.svg'); }
.octicon-repo-forked-24 { --octicon-url: url('./svg/repo-forked-24.svg'); }
.octicon-repo-locked-16 { --octicon-url: url('./svg/repo-locked-16.svg'); }
.octicon-repo-locked-24 { --octicon-url: url('./svg/repo-locked-24.svg'); }
.octicon-repo-pull-16 { --octicon-url: url('./svg/repo-pull-16.svg'); }
.octicon-repo-pull-24 { --octicon-url: url('./svg/repo-pull-24.svg'); }
.octicon-repo-push-16 { --octicon-url: url('./svg/repo-push-16.svg'); }
.octicon-repo-push-24 { --octicon-url: url('./svg/repo-push-24.svg'); }
.octicon-report-16 { --octicon-url: url('./svg/report-16.svg'); }
.octicon-report-24 { --octicon-url: url('./svg/report-24.svg'); }
.octicon-repo-template-16 { --octicon-url: url('./svg/repo-template-16.svg'); }
.octicon-repo-template-24 { --octicon-url: url('./svg/repo-template-24.svg'); }
.octicon-rocket-16 { --octicon-url: url('./svg/rocket-16.svg'); }
.octicon-rocket-24 { --octicon-url: url('./svg/rocket-24.svg'); }
.octicon-rows-16 { --octicon-url: url('./svg/rows-16.svg'); }
.octicon-rows-24 { --octicon-url: url('./svg/rows-24.svg'); }
.octicon-rss-16 { --octicon-url: url('./svg/rss-16.svg'); }
.octicon-rss-24 { --octicon-url: url('./svg/rss-24.svg'); }
.octicon-ruby-16 { --octicon-url: url('./svg/ruby-16.svg'); }
.octicon-ruby-24 { --octicon-url: url('./svg/ruby-24.svg'); }
.octicon-screen-full-16 { --octicon-url: url('./svg/screen-full-16.svg'); }
.octicon-screen-full-24 { --octicon-url: url('./svg/screen-full-24.svg'); }
.octicon-screen-normal-16 { --octicon-url: url('./svg/screen-normal-16.svg'); }
.octicon-screen-normal-24 { --octicon-url: url('./svg/screen-normal-24.svg'); }
.octicon-search-16 { --octicon-url: url('./svg/search-16.svg'); }
.octicon-search-24 { --octicon-url: url('./svg/search-24.svg'); }
.octicon-server-16 { --octicon-url: url('./svg/server-16.svg'); }
.octicon-server-24 { --octicon-url: url('./svg/server-24.svg'); }
.octicon-share-16 { --octicon-url: url('./svg/share-16.svg'); }
.octicon-share-24 { --octicon-url: url('./svg/share-24.svg'); }
.octicon-share-android-16 { --octicon-url: url('./svg/share-android-16.svg'); }
.octicon-share-android-24 { --octicon-url: url('./svg/share-android-24.svg'); }
.octicon-shield-16 { --octicon-url: url('./svg/shield-16.svg'); }
.octicon-shield-24 { --octicon-url: url('./svg/shield-24.svg'); }
.octicon-shield-check-16 { --octicon-url: url('./svg/shield-check-16.svg'); }
.octicon-shield-check-24 { --octicon-url: url('./svg/shield-check-24.svg'); }
.octicon-shield-lock-16 { --octicon-url: url('./svg/shield-lock-16.svg'); }
.octicon-shield-lock-24 { --octicon-url: url('./svg/shield-lock-24.svg'); }
.octicon-shield-slash-16 { --octicon-url: url('./svg/shield-slash-16.svg'); }
.octicon-shield-slash-24 { --octicon-url: url('./svg/shield-slash-24.svg'); }
.octicon-shield-x-16 { --octicon-url: url('./svg/shield-x-16.svg'); }
.octicon-shield-x-24 { --octicon-url: url('./svg/shield-x-24.svg'); }
.octicon-sidebar-collapse-16 { --octicon-url: url('./svg/sidebar-collapse-16.svg'); }
.octicon-sidebar-collapse-24 { --octicon-url: url('./svg/sidebar-collapse-24.svg'); }
.octicon-sidebar-expand-16 { --octicon-url: url('./svg/sidebar-expand-16.svg'); }
.octicon-sidebar-expand-24 { --octicon-url: url('./svg/sidebar-expand-24.svg'); }
.octicon-sign-in-16 { --octicon-url: url('./svg/sign-in-16.svg'); }
.octicon-sign-in-24 { --octicon-url: url('./svg/sign-in-24.svg'); }
.octicon-sign-out-16 { --octicon-url: url('./svg/sign-out-16.svg'); }
.octicon-sign-out-24 { --octicon-url: url('./svg/sign-out-24.svg'); }
.octicon-single-select-16 { --octicon-url: url('./svg/single-select-16.svg'); }
.octicon-single-select-24 { --octicon-url: url('./svg/single-select-24.svg'); }
.octicon-skip-16 { --octicon-url: url('./svg/skip-16.svg'); }
.octicon-skip-24 { --octicon-url: url('./svg/skip-24.svg'); }
.octicon-skip-fill-16 { --octicon-url: url('./svg/skip-fill-16.svg'); }
.octicon-skip-fill-24 { --octicon-url: url('./svg/skip-fill-24.svg'); }
.octicon-sliders-16 { --octicon-url: url('./svg/sliders-16.svg'); }
.octicon-sliders-24 { --octicon-url: url('./svg/sliders-24.svg'); }
.octicon-smiley-16 { --octicon-url: url('./svg/smiley-16.svg'); }
.octicon-smiley-24 { --octicon-url: url('./svg/smiley-24.svg'); }
.octicon-smiley-frown-16 { --octicon-url: url('./svg/smiley-frown-16.svg'); }
.octicon-smiley-frown-24 { --octicon-url: url('./svg/smiley-frown-24.svg'); }
.octicon-smiley-frustrated-16 { --octicon-url: url('./svg/smiley-frustrated-16.svg'); }
.octicon-smiley-frustrated-24 { --octicon-url: url('./svg/smiley-frustrated-24.svg'); }
.octicon-smiley-grin-16 { --octicon-url: url('./svg/smiley-grin-16.svg'); }
.octicon-smiley-grin-24 { --octicon-url: url('./svg/smiley-grin-24.svg'); }
.octicon-smiley-neutral-16 { --octicon-url: url('./svg/smiley-neutral-16.svg'); }
.octicon-smiley-neutral-24 { --octicon-url: url('./svg/smiley-neutral-24.svg'); }
.octicon-sort-asc-16 { --octicon-url: url('./svg/sort-asc-16.svg'); }
.octicon-sort-asc-24 { --octicon-url: url('./svg/sort-asc-24.svg'); }
.octicon-sort-desc-16 { --octicon-url: url('./svg/sort-desc-16.svg'); }
.octicon-sort-desc-24 { --octicon-url: url('./svg/sort-desc-24.svg'); }
.octicon-space-16 { --octicon-url: url('./svg/space-16.svg'); }
.octicon-space-24 { --octicon-url: url('./svg/space-24.svg'); }
.octicon-spacing-large-16 { --octicon-url: url('./svg/spacing-large-16.svg'); }
.octicon-spacing-large-24 { --octicon-url: url('./svg/spacing-large-24.svg'); }
.octicon-spacing-medium-16 { --octicon-url: url('./svg/spacing-medium-16.svg'); }
.octicon-spacing-medium-24 { --octicon-url: url('./svg/spacing-medium-24.svg'); }
.octicon-spacing-small-16 { --octicon-url: url('./svg/spacing-small-16.svg'); }
.octicon-spacing-small-24 { --octicon-url: url('./svg/spacing-small-24.svg'); }
.octicon-sparkle-16 { --octicon-url: url('./svg/sparkle-16.svg'); }
.octicon-sparkle-24 { --octicon-url: url('./svg/sparkle-24.svg'); }
.octicon-sparkle-fill-16 { --octicon-url: url('./svg/sparkle-fill-16.svg'); }
.octicon-sparkle-fill-24 { --octicon-url: url('./svg/sparkle-fill-24.svg'); }
.octicon-sparkles-fill-16 { --octicon-url: url('./svg/sparkles-fill-16.svg'); }
.octicon-sparkles-fill-24 { --octicon-url: url('./svg/sparkles-fill-24.svg'); }
.octicon-split-view-16 { --octicon-url: url('./svg/split-view-16.svg'); }
.octicon-split-view-24 { --octicon-url: url('./svg/split-view-24.svg'); }
.octicon-sponsor-tiers-16 { --octicon-url: url('./svg/sponsor-tiers-16.svg'); }
.octicon-sponsor-tiers-24 { --octicon-url: url('./svg/sponsor-tiers-24.svg'); }
.octicon-square-16 { --octicon-url: url('./svg/square-16.svg'); }
.octicon-square-24 { --octicon-url: url('./svg/square-24.svg'); }
.octicon-square-circle-16 { --octicon-url: url('./svg/square-circle-16.svg'); }
.octicon-square-circle-24 { --octicon-url: url('./svg/square-circle-24.svg'); }
.octicon-square-fill-16 { --octicon-url: url('./svg/square-fill-16.svg'); }
.octicon-square-fill-24 { --octicon-url: url('./svg/square-fill-24.svg'); }
.octicon-squirrel-16 { --octicon-url: url('./svg/squirrel-16.svg'); }
.octicon-squirrel-24 { --octicon-url: url('./svg/squirrel-24.svg'); }
.octicon-stack-16 { --octicon-url: url('./svg/stack-16.svg'); }
.octicon-stack-24 { --octicon-url: url('./svg/stack-24.svg'); }
.octicon-star-16 { --octicon-url: url('./svg/star-16.svg'); }
.octicon-star-24 { --octicon-url: url('./svg/star-24.svg'); }
.octicon-star-fill-16 { --octicon-url: url('./svg/star-fill-16.svg'); }
.octicon-star-fill-24 { --octicon-url: url('./svg/star-fill-24.svg'); }
.octicon-stop-16 { --octicon-url: url('./svg/stop-16.svg'); }
.octicon-stop-24 { --octicon-url: url('./svg/stop-24.svg'); }
.octicon-stopwatch-16 { --octicon-url: url('./svg/stopwatch-16.svg'); }
.octicon-stopwatch-24 { --octicon-url: url('./svg/stopwatch-24.svg'); }
.octicon-strikethrough-16 { --octicon-url: url('./svg/strikethrough-16.svg'); }
.octicon-strikethrough-24 { --octicon-url: url('./svg/strikethrough-24.svg'); }
.octicon-sun-16 { --octicon-url: url('./svg/sun-16.svg'); }
.octicon-sun-24 { --octicon-url: url('./svg/sun-24.svg'); }
.octicon-sync-16 { --octicon-url: url('./svg/sync-16.svg'); }
.octicon-sync-24 { --octicon-url: url('./svg/sync-24.svg'); }
.octicon-tab-16 { --octicon-url: url('./svg/tab-16.svg'); }
.octicon-tab-24 { --octicon-url: url('./svg/tab-24.svg'); }
.octicon-tab-external-16 { --octicon-url: url('./svg/tab-external-16.svg'); }
.octicon-tab-external-24 { --octicon-url: url('./svg/tab-external-24.svg'); }
.octicon-table-16 { --octicon-url: url('./svg/table-16.svg'); }
.octicon-table-24 { --octicon-url: url('./svg/table-24.svg'); }
.octicon-tag-16 { --octicon-url: url('./svg/tag-16.svg'); }
.octicon-tag-24 { --octicon-url: url('./svg/tag-24.svg'); }
.octicon-tasklist-16 { --octicon-url: url('./svg/tasklist-16.svg'); }
.octicon-tasklist-24 { --octicon-url: url('./svg/tasklist-24.svg'); }
.octicon-telescope-16 { --octicon-url: url('./svg/telescope-16.svg'); }
.octicon-telescope-24 { --octicon-url: url('./svg/telescope-24.svg'); }
.octicon-telescope-fill-16 { --octicon-url: url('./svg/telescope-fill-16.svg'); }
.octicon-telescope-fill-24 { --octicon-url: url('./svg/telescope-fill-24.svg'); }
.octicon-terminal-16 { --octicon-url: url('./svg/terminal-16.svg'); }
.octicon-terminal-24 { --octicon-url: url('./svg/terminal-24.svg'); }
.octicon-three-bars-16 { --octicon-url: url('./svg/three-bars-16.svg'); }
.octicon-three-bars-24 { --octicon-url: url('./svg/three-bars-24.svg'); }
.octicon-thumbsdown-16 { --octicon-url: url('./svg/thumbsdown-16.svg'); }
.octicon-thumbsdown-24 { --octicon-url: url('./svg/thumbsdown-24.svg'); }
.octicon-thumbsup-16 { --octicon-url: url('./svg/thumbsup-16.svg'); }
.octicon-thumbsup-24 { --octicon-url: url('./svg/thumbsup-24.svg'); }
.octicon-tools-16 { --octicon-url: url('./svg/tools-16.svg'); }
.octicon-tools-24 { --octicon-url: url('./svg/tools-24.svg'); }
.octicon-tracked-by-closed-completed-16 { --octicon-url: url('./svg/tracked-by-closed-completed-16.svg'); }
.octicon-tracked-by-closed-completed-24 { --octicon-url: url('./svg/tracked-by-closed-completed-24.svg'); }
.octicon-tracked-by-closed-not-planned-16 { --octicon-url: url('./svg/tracked-by-closed-not-planned-16.svg'); }
.octicon-tracked-by-closed-not-planned-24 { --octicon-url: url('./svg/tracked-by-closed-not-planned-24.svg'); }
.octicon-trash-16 { --octicon-url: url('./svg/trash-16.svg'); }
.octicon-trash-24 { --octicon-url: url('./svg/trash-24.svg'); }
.octicon-triangle-down-16 { --octicon-url: url('./svg/triangle-down-16.svg'); }
.octicon-triangle-down-24 { --octicon-url: url('./svg/triangle-down-24.svg'); }
.octicon-triangle-left-16 { --octicon-url: url('./svg/triangle-left-16.svg'); }
.octicon-triangle-left-24 { --octicon-url: url('./svg/triangle-left-24.svg'); }
.octicon-triangle-right-16 { --octicon-url: url('./svg/triangle-right-16.svg'); }
.octicon-triangle-right-24 { --octicon-url: url('./svg/triangle-right-24.svg'); }
.octicon-triangle-up-16 { --octicon-url: url('./svg/triangle-up-16.svg'); }
.octicon-triangle-up-24 { --octicon-url: url('./svg/triangle-up-24.svg'); }
.octicon-trophy-16 { --octicon-url: url('./svg/trophy-16.svg'); }
.octicon-trophy-24 { --octicon-url: url('./svg/trophy-24.svg'); }
.octicon-typography-16 { --octicon-url: url('./svg/typography-16.svg'); }
.octicon-typography-24 { --octicon-url: url('./svg/typography-24.svg'); }
.octicon-undo-16 { --octicon-url: url('./svg/undo-16.svg'); }
.octicon-undo-24 { --octicon-url: url('./svg/undo-24.svg'); }
.octicon-unfold-16 { --octicon-url: url('./svg/unfold-16.svg'); }
.octicon-unfold-24 { --octicon-url: url('./svg/unfold-24.svg'); }
.octicon-unlink-16 { --octicon-url: url('./svg/unlink-16.svg'); }
.octicon-unlink-24 { --octicon-url: url('./svg/unlink-24.svg'); }
.octicon-unlock-16 { --octicon-url: url('./svg/unlock-16.svg'); }
.octicon-unlock-24 { --octicon-url: url('./svg/unlock-24.svg'); }
.octicon-unmute-16 { --octicon-url: url('./svg/unmute-16.svg'); }
.octicon-unmute-24 { --octicon-url: url('./svg/unmute-24.svg'); }
.octicon-unread-16 { --octicon-url: url('./svg/unread-16.svg'); }
.octicon-unread-24 { --octicon-url: url('./svg/unread-24.svg'); }
.octicon-unverified-16 { --octicon-url: url('./svg/unverified-16.svg'); }
.octicon-unverified-24 { --octicon-url: url('./svg/unverified-24.svg'); }
.octicon-unwrap-16 { --octicon-url: url('./svg/unwrap-16.svg'); }
.octicon-unwrap-24 { --octicon-url: url('./svg/unwrap-24.svg'); }
.octicon-upload-16 { --octicon-url: url('./svg/upload-16.svg'); }
.octicon-upload-24 { --octicon-url: url('./svg/upload-24.svg'); }
.octicon-verified-16 { --octicon-url: url('./svg/verified-16.svg'); }
.octicon-verified-24 { --octicon-url: url('./svg/verified-24.svg'); }
.octicon-versions-16 { --octicon-url: url('./svg/versions-16.svg'); }
.octicon-versions-24 { --octicon-url: url('./svg/versions-24.svg'); }
.octicon-video-16 { --octicon-url: url('./svg/video-16.svg'); }
.octicon-video-24 { --octicon-url: url('./svg/video-24.svg'); }
.octicon-vscode-16 { --octicon-url: url('./svg/vscode-16.svg'); }
.octicon-vscode-32 { --octicon-url: url('./svg/vscode-32.svg'); }
.octicon-vscode-48 { --octicon-url: url('./svg/vscode-48.svg'); }
.octicon-webhook-16 { --octicon-url: url('./svg/webhook-16.svg'); }
.octicon-workflow-16 { --octicon-url: url('./svg/workflow-16.svg'); }
.octicon-workflow-24 { --octicon-url: url('./svg/workflow-24.svg'); }
.octicon-wrap-16 { --octicon-url: url('./svg/wrap-16.svg'); }
.octicon-wrap-24 { --octicon-url: url('./svg/wrap-24.svg'); }
.octicon-x-12 { --octicon-url: url('./svg/x-12.svg'); }
.octicon-x-16 { --octicon-url: url('./svg/x-16.svg'); }
.octicon-x-24 { --octicon-url: url('./svg/x-24.svg'); }
.octicon-x-circle-16 { --octicon-url: url('./svg/x-circle-16.svg'); }
.octicon-x-circle-24 { --octicon-url: url('./svg/x-circle-24.svg'); }
.octicon-x-circle-fill-12 { --octicon-url: url('./svg/x-circle-fill-12.svg'); }
.octicon-x-circle-fill-16 { --octicon-url: url('./svg/x-circle-fill-16.svg'); }
.octicon-x-circle-fill-24 { --octicon-url: url('./svg/x-circle-fill-24.svg'); }
.octicon-zap-16 { --octicon-url: url('./svg/zap-16.svg'); }
.octicon-zap-24 { --octicon-url: url('./svg/zap-24.svg'); }
.octicon-zoom-in-16 { --octicon-url: url('./svg/zoom-in-16.svg'); }
.octicon-zoom-in-24 { --octicon-url: url('./svg/zoom-in-24.svg'); }
.octicon-zoom-out-16 { --octicon-url: url('./svg/zoom-out-16.svg'); }
.octicon-zoom-out-24 { --octicon-url: url('./svg/zoom-out-24.svg'); }

